body {
  font-family: 'Open Sans', sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.rgb-color .q0{fill:rgb(165,0,38)}
.rgb-color .q1{fill:rgb(244,109,67)}
.rgb-color .q2{fill:rgb(254,224,139)}
.rgb-color .q3{fill:rgb(217,239,139)}
.rgb-color .q4{fill:rgb(102,189,99)}
.rgb-color .q5{fill:rgb(0,104,55)}
